.side__bar
  .side__bar__header
    .side__bar__header__box
      %p.side__bar__header__box__name
        masa
      %ul.side__bar__header__box__menu
        %li.side__bar__header__box__menu__edit
          = link_to "#", class: "side__bar__header__box__menu__edit__btn " do
            = icon('fas', 'edit')
        %li.side__bar__header__box__menu__set
          = link_to "#", class: "side__bar__header__box__menu__set__btn " do
            = icon('fab', 'facebook-square')
  .side__bar__groups
    .side__bar__groups__group
      %p.side__bar__groups__group__name
      techcamp
      %p.side__bar__groups__group__message
      まだメッセージがありません
    .side__bar__groups__group
      %p.side__bar__groups__group__name
      techcamp
      %p.side__bar__groups__group__message
      まだメッセージがありません
      .side__bar__groups__group
      %p.side__bar__groups__group__name
      techcamp
      %p.side__bar__groups__group__message
      まだメッセージがありません

